<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDA49A9F1BC2362600075B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA49AB61BC2362600075B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA49AC11BC2362600075B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
